#root {
	margin: 0 auto;
	padding: 2rem;
}

.container {
	border: 1px solid grey;
	border-radius: 2px;

	table {
		min-width: 800px;
		text-align: left;
		border-top: 2px solid black;
	}

	th {
		font-weight: 400;
		background-color: lightgray;
	}

	th,
	td {
		padding: .25rem;
		border-right: 1px solid grey;
	}

	table,
	th,
	td {
		border-collapse: collapse;
	}

	tbody {
		tr:nth-child(even) {
			background-color: #f5f5f5;
		}

		tr:nth-child(odd) {
			background-color: #ffffff;
		}
	}
}
